.concertFormContainer {
  margin-top: 50px;
  text-align: center;
  width: 50%;
  height: auto;
  padding: 20px 0;
  background-color: bisque;
}

.concertContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h6 {
  margin: 0px;
  font-weight: normal;
}
