.concertFormContainer {
  margin: 50px;
  text-align: center;
  width: 50%;
  height: auto;
  padding: 20px 0;
  background-color: bisque;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.concertContainer {
  color: #29434e;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h6 {
  margin: 0px;
  font-weight: normal;
}

.displaySearchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artistImage {
  width: 100px;
  height: 100px;
}

.artistImageBox {
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 11px;
}

.displayArtistSearchResult {
  font-size: 11px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.searchField {
  width: 143px;
}

ul {
  padding: 0;
}

.inputField {
  margin: 10px;
}

@media (max-width: 1023px) {
}
@media (max-width: 767px) {
  .concertFormContainer {
    padding: 20px;
    margin-top: 40px;
    width: 70%;
  }

  .searchField {
    width: 127px;
  }
}
