.artistListBox {
  display: flex;
  flex-direction: column;
}

.concertInformationBox{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-bottom: 20px;
}

.artistName{
    font-weight: bold;
    font-size: 14;
    color: #29434e;
}

.concertInfo{
  margin-left: 20px;
  font-size: 13;
  color: #546e7a;
}

.spotifyLogo{
  margin-left: 20px;
  height: 30px;
  width: 30px;
}

.paper{
  width: 300px;

}

.paperContainer{
  display: flex;
  flex-direction: row; 
}
